<% humanize_attr = ->(attr) { MatViews::MatViewDefinition.human_attribute_name(attr) } %>
<% humanize_enum_attr = ->(col, val) { MatViews::MatViewDefinition.human_enum_name(col, val) } %>
<table class="mv-table">
  <colgroup>
    <col class="col-name">
    <col class="col-strategy">
    <col class="col-schedule">
    <col class="col-refreshed">
    <col class="col-actions">
  </colgroup>
  <thead>
    <tr class="mv-tr">
      <th class="mv-th"><%= humanize_attr.call(:name) %></th>
      <th class="mv-th"><%= humanize_attr.call(:refresh_strategy) %></th>
      <th class="mv-th"><%= humanize_attr.call(:schedule_cron) %></th>
      <th class="mv-th"><%= humanize_attr.call(:last_run) %></th>
      <th class="mv-th" style="text-align:right;"><%= mv_t("actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if definitions.any? %>
      <% definitions.each do |defn| %>
        <tr class="mv-tr">
          <td class="mv-td">
            <%= mv_drawer_link(admin_mat_view_definition_path(defn, frame_id: 'mv-drawer'), mv_t("view_var", name: defn.name),
                             variant: :ghost,
                             testid: 'VIEW_LINK',
                             testid_identifier: "defn-#{defn.id}",
                             underline: true,
                             tooltip: mv_t("mat_view_definition.view_tooltip")) do %>
              <%= defn.name %>
            <% end %>
          </td>
          <td class="mv-td"><%= humanize_enum_attr.call(:refresh_strategy, defn.refresh_strategy) %></td>
          <td class="mv-td"><%= defn.schedule_cron.presence || "-" %></td>
          <td class="mv-td"><%= defn.last_run ? l(defn.last_run.started_at.in_time_zone, format: :datetime12hour) : "-" %></td>
          <td class="mv-td mv-td-actions">
            <%= render "definition_actions", defn: defn, mv_exists: mv_exists_map[defn], frame_id: "dash-definitions" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="mv-tr">
        <td class="mv-td" colspan="5"><%= mv_t("mat_view_definition.no_definitions") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
