<footer class="mv-footer">
  <div class="mv-container mv-footer-row">
    <div>
      <%= t("mat_views.footer.tagline") %><br>
      <%= t("mat_views.footer.copyright", year: Time.current.year, company: MatViews::Engine.company_name) %>
    </div>
    <div class="mv-text-right">
      <%= mv_link_to MatViews::Engine.rubygems_uri, tooltip: t("mat_views.footer.tooltip.gem_version"), testid: 'GEM_LINK' do %>
        <strong><%= MatViews::Engine.project_name %></strong>
        <%= t("mat_views.footer.version", version: MatViews::Engine.project_version) %><br>
      <% end %>
      <%= mv_link_to t("mat_views.footer.project_homepage"),
      MatViews::Engine.project_homepage,
      tooltip: t("mat_views.footer.tooltip.project_homepage"),
      testid: "PROJECT_HOMEPAGE_LINK" %>
      <%= mv_link_to t("mat_views.footer.open_issue"), MatViews::Engine.bug_tracker_uri, tooltip: t("mat_views.footer.tooltip.open_issue"), testid: "OPEN_ISSUE_LINK" %>
      <%= mv_link_to t("mat_views.footer.documentation"),
      MatViews::Engine.documentation_uri,
      tooltip: t("mat_views.footer.tooltip.documentation"),
      testid: "DOCUMENTATION_LINK" %>
      <br/>
      <span class="text-rose-700"><%= t("mat_views.footer.need_help") %></span>
      <%= mv_link_to t("mat_views.footer.support"), MatViews::Engine.support_uri, tooltip: t("mat_views.footer.tooltip.support"), testid: "SUPPORT_LINK" %>
    </div>
  </div>
</footer>
<div class="mv-drawer-root" aria-hidden="true" data-drawer-target="root">
  <div data-drawer-target="overlay" class="mv-drawer-overlay" data-action="click->drawer#close"></div>
  <aside data-drawer-target="panel" class="mv-drawer" role="dialog" aria-modal="true">
    <div class="mv-drawer-head" aria-label="<%= t('mat_views.details') %>" data-drawer-target="header">
      <h2 id="mv-drawer-title" data-drawer-target="title">
        <%= t("mat_views.details") %>
      </h2>
      <div class='row-item'>
        <%= mv_drawer_action_button(t("mat_views.refresh"), "refresh", t("mat_views.refresh_contents"), "left", testid: "DRAWER_REFRESH_LINK") { mv_icon(:refresh) } %>
        <%= mv_drawer_action_button(t("mat_views.close"), "close", t("mat_views.close_window"), "left", testid: "DRAWER_CLOSE_LINK") { mv_icon(:x_circle) } %>
      </div>
    </div>
    <div class="mv-drawer-body">
      <turbo-frame id="mv-drawer" data-drawer-target="frame" data-turbo-frame-lifecycle-target="frame">
        <div class="mv-card">
          <div class="mv-card-b"><%= t("mat_views.loading") %></div>
        </div>
      </turbo-frame>
    </div>
  </aside>
</div>
