<% humanize_attr = ->(attr) { MatViews::MatViewRun.human_attribute_name(attr) } %>
<% humanize_enum_attr = ->(col, val) { MatViews::MatViewRun.human_enum_name(col, val) } %>

<table class="mv-table">
  <thead>
    <tr class="mv-tr">
      <th class="mv-th"><%= humanize_attr.call(:operation) %></th>
      <th class="mv-th"><%= humanize_attr.call(:mat_view_definition) %></th>
      <th class="mv-th"><%= humanize_attr.call(:started_at) %></th>
      <th class="mv-th"><%= humanize_attr.call(:status) %></th>
      <th class="mv-th"><%= humanize_attr.call(:duration_ms) %></th>
      <th class="mv-th"><%= humanize_attr.call(:rows_before_after) %></th>
      <th class="mv-th"><%= humanize_attr.call(:details) %></th>
    </tr>
  </thead>
  <tbody>
    <% if runs.any? %>
      <% runs.each do |run| %>
        <tr class="mv-tr" data-testid="RUN_ROW_<%= run.id %>">
          <td class="mv-td"><%= humanize_enum_attr.call(:operation, run.operation) %></td>
          <td class="mv-td">
            <%= mv_drawer_link(admin_mat_view_definition_path(run.mat_view_definition, frame_id: "mv-drawer"), mv_t("view_var", name: run.mat_view_definition.name),
                             variant: :ghost,
                             underline: true,
                             testid: 'VIEW_LINK',
                             testid_identifier: "defn-#{run.mat_view_definition.id}",
                             tooltip: mv_t("mat_view_definition.view_tooltip")) do %>
              <%= run.mat_view_definition.name %>
            <% end %>
          </td>
          <td class="mv-td"><%= l(run.started_at.in_time_zone, format: :datetime12hour) %></td>
          <td class="mv-td"><%= mv_badge(humanize_enum_attr.call(:status, run.status)) %></td>
          <td class="mv-td"><%= run.duration_ms ? "#{run.duration_ms} ms" : "-" %></td>
          <td class="mv-td"><%= run.row_count_before || "-" %>/<%= run.row_count_after || "-" %></td>
          <td class="mv-td">
            <%= mv_drawer_link(admin_run_path(id: run.id, frame_id: 'mv-drawer'), mv_t('mat_view_run.view_details'),
                             variant: :ghost,
                             underline: true,
                             testid: 'VIEW_LINK',
                             testid_identifier: "run-#{run.id}",
                             tooltip: mv_t("mat_view_run.view_tooltip")) do %>
              <%= mv_t("mat_view_run.view_details") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="mv-tr">
        <td class="mv-td" colspan="7">
          <% filter_present = params[:mat_view_definition_id].present? || params[:operation].present? || params[:status].present? %>

          <% if filter_present %>
            <%= mv_t("mat_view_run.no_runs_if_filtered") %>
          <% else %>
            <%= mv_t("mat_view_run.no_runs") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
